@using System.Web.Mvc.Html
@model OrderPizza1.ViewModel.PizzaPizzaAttributesViewModel
@{
    ViewBag.Title = "Order";
}

<h2>Order</h2>

@using (Html.BeginForm("Save", "Order"))
{
    <div row class="col-lg-2">
    </div>
    <div row class="col-lg-10">
        @Html.ValidationSummary(true, "Please fill the required fields")
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(m => m.PizzaSize, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            @Html.DropDownListFor(m => m.PizzaSize, Model.PizzaSizes, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(m => m.PizzaSizes)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(m => m.PizzaCrust, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            @Html.DropDownListFor(m => m.PizzaCrust, Model.PizzaCrusts, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(m => m.PizzaCrusts)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(m => m.PizzaTopping, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            <ul>
                @foreach (var topping in Model.PizzaToppings)
                {
                    <li class="list-unstyled" style="margin-left: -40px">
                        <input type="checkbox" name="PizzaTopping" value="@topping.Value" id="PizzaTopping"
                               @{ if (Model.PizzaTopping?.Count(x => x.ToString() == topping.Value) > 0) { W‌riteLiteral(@" ");/*​*/ W‌riteLiteral(@"checked='checked'");/*​*/ W‌riteLiteral(@" "); } } />
                        <label for="PizzaTopping" style="font-weight: lighter">@topping.Text</label>
                    </li>
    }
            </ul>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.Label("Deliver To:", new { @class = "control-label" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(x => x.Customer.Name, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Customer.Name, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(x => x.Customer.Name)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(x => x.Customer.Address, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Customer.Address, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(x => x.Customer.Address)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(x => x.Customer.Zip, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Customer.Zip, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(x => x.Customer.Zip)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(x => x.Customer.Phone, new { @class = "control-label" })
        </div>
        <div class="col-lg-10">
            @Html.TextBoxFor(x => x.Customer.Phone, new { @class = "form-control" })
            @*@Html.ValidationMessageFor(x => x.Customer.Phone)*@
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.Label("Payment:", new { @class = "control-label" })
        </div>
    </div>
    <div class="row form-group">
        <div class="col-lg-2">
            @Html.LabelFor(x => x.PaymentMethod)
        </div>
        <div class="col-lg-10">
            @Html.RadioButtonFor(m => m.PaymentMethod, 0, new { id = "PaymentMethod1" }) Cash
            @Html.RadioButtonFor(m => m.PaymentMethod, 1, new { id = "PaymentMethod2" }) Credit Card
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Order" />
    }
