@model OrderPizza1.ViewModel.OrderDisplayViewModel
@{
    ViewBag.Title = "Order Status";
}

<h2>Order Status</h2>

@if (Model.PizzaTopping != null)
{
    <div class="col-lg-12">
        Order Placed Successfully!
        @Model.Order.Customer.Name you have ordered Pizza of size @Model.PizzaSize and crust @Model.PizzaCrust and with topping @Model.PizzaTopping
    </div>
}
else
{
    <div class="col-lg-12">
        Order Placed Successfully!
        @Model.Order.Customer.Name you have ordered Pizza of size @Model.PizzaSize and crust @Model.PizzaCrust
    </div>
}
