
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<div class="wrapper">
    <!-- Navigation -->
    <nav class="main-nav">
      <ul>
        <li>
          @Html.ActionLink("Order Pizza", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </li>
        <li>
          @Html.ActionLink("Place Order", "Index", "Order")
        </li>
        <li>          
            @Html.ActionLink("Display Orders", "Display", "Order")
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- Top Container -->
    <section class="top-container">
      @RenderBody()
    </section>

    <!-- Footer -->
    <footer>
      <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

  </div>
  <!-- Wrapper Ends -->